header .container ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

header .container ul a {
    text-decoration: none;
    color: black;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1140px;
    margin: 0 auto 0 auto;
}

header {
    background-color: rgba(237, 230, 221, 1);
}

.intro h1 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(30, 25, 40, 1);
}

.intro p {
    line-height: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(30, 25, 40, 0.8);
}

.intro .container {
    display: flex;
}

.intro {
    background-color: rgba(237, 230, 221, 1);
    padding-bottom: 200px;
}

.intro .left input {
    border: none;
    padding: 15px 25px 15px 25px;
    width: 500px;
    border-radius: 30px;
}

.intro .left button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    position: relative;
    right: 150px;
    bottom: 0px;
}

.relief {
    position: absolute; top: 70%; left: 12%;
    background-image: url('./images/image\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
}



.relief p {
    width: 500px;
    line-height: 25px;
    font-weight: bold;
}

.relief a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px 25px;
    border-radius: 20px;
}

.works {
    background-color: #FFD394;
    padding: 40px;
}

.works h2 {
    margin-top: 0;
    font-size: 42px;
}

.works .container {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
}

.works .right .order {
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.works .right .order2{
    background-color: black;
    color: white;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.works .work {
    display: flex;
    gap: 30px;
}

.works .right {
    width: 600px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
}

footer ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
}

footer .right div {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

footer .right  {
    display: flex;
    gap: 20px;
}

footer{
    padding: 40px;
}
